@font-face {
  font-family: albra;
  src: url('./fonts/ALBRA\ BOLD.OTF');
  font-weight: bold;
}
@font-face {
  font-family: albra;
  src: url('./fonts/ALBRA\ MEDIUM.OTF');
  font-weight: normal;
}
@font-face {
  font-family: bebas;
  src: url('./fonts/BEBASNEUE-REGULAR.OTF');
  font-weight: normal;
}
@font-face {
  font-family: helvethaicaX;
  src: url('./fonts/DB\ HELVETHAICA\ X\ V3.2.TTF');
  font-weight: normal;
}
@font-face {
  font-family: helvethaicaXCond;
  src: url('./fonts/DB\ HELVETHAICA\ X\ BD\ COND\ V3.2.TTF');
  font-weight: normal;
}
@font-face {
  font-family: gotham;
  src: url('./fonts/GOTHAM-MEDIUM.OTF');
  font-weight: normal;
}
@font-face {
  font-family: helvethaicaXBlk;
  src: url('./fonts/DB\ HELVETHAICA\ X\ BLK\ V3.2.TTF');
  font-weight: bold;
}
img {
  user-select: none;
}
html,
body {
  width: 100%;
  background-color: #ebf5ee;
  overflow-x: hidden;
  user-select: none;
  z-index: 1;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
.pointer
{
  cursor: pointer;
}
#vertical_word,
#big_logo,
#vertical_graph,
.mobile-box {
  display: none;
}
.mobile-nav,
.mobile-nav-click {
  display: none;
}
.mobile-nav-click {
  transform: translateX(155%);
  transition: transform 0.3s ease-in;
}
.center {
  text-align: center;
}
.title-text {
  font-size: 72px !important;
}
.header-text {
  font-size: 48px !important;
  margin-bottom: 23px;
}
.highlight-text {
  font-size: 36px !important;
}
.normal-text {
  font-size: 24px !important;
}
.bold {
  font-weight: bold;
}
.bolder {
  font-weight: bolder;
}
.normal {
  font-weight: normal;
}
.light {
  font-weight: lighter;
}
.albra {
  font-family: albra;
}
.bebas {
  font-family: bebas;
}
.helvethaicaX {
  font-family: helvethaicaX;
}
.helvethaicaXCond {
  font-family: helvethaicaXCond;
}
.helvethaicaXBlk {
  font-family: helvethaicaXBlk;
  font-weight: bold;
}
.gotham {
  font-family: gotham;
}
.white {
  color: #ebf5ee;
}
.pink {
  color: #a663cc;
}
.blue {
  color: #457b9d;
}
.black {
  color: #190752;
}
.cyan {
  color: #0bc9cd;
}
.nav-text {
  position: relative;
  top: -12px;
  margin-left: 10px;
}
.content-box {
  padding-top: 140px;
  width: 1080px;
  margin: auto;
}
nav {
  height: 50px;
  background: linear-gradient(
    180deg,
    rgba(166, 99, 204, 1) 0%,
    rgba(166, 99, 204, 0.62) 81%,
    rgba(166, 99, 204, 0) 100%
  );
  padding: 10px 52px;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.nav-menu li,
nav ul {
  position: relative;
  list-style: none;
  display: inline;
  float: right;
  margin-left: 10px;
  margin-right: 40px;
  top: 0px;
  font-size: 16px;
}
.nav-menu li {
  cursor: pointer;
}
.nav-line:hover {
  color: #44e8eb;
}
.nav-line::after {
  position: absolute;
  top: 21px;
  width: 0%;
  left: 50%;
  height: 2.3px;
  content: '';
  background-color: #44e8eb;
  display: block;
  transition: left 0.2s ease-in, width 0.2s ease-in;
  border-radius: 2px;
}
.nav-line:hover::after {
  position: absolute;
  top: 21px;
  width: 100%;
  left: 0%;
}
nav img {
  width: 39px;
}
.pink-box {
  background-color: #a663cc;
  padding: 8px 20px;
  border-radius: 24px;
  margin-top: -8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2.3px,
    rgba(0, 0, 0, 0.07) 0px 2.3px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
  margin-left: 25px;
  transition: padding 0.1s ease-in, transform 0.1s ease-in-out;
}
.pink-box:hover {
}
.cyan-box {
  background-color: #0bc9cd;
  padding: 8px 20px;
  border-radius: 24px;
  margin-top: -8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2.3px,
    rgba(0, 0, 0, 0.07) 0px 2.3px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
  margin-left: 25px;
}
.cyan-box:hover {
}
.one {
  position: relative;
  height: 46vw;
  min-height: 650px;
  max-height: 900px;
  width: 100%;
  background-color: #a663cc;
  overflow: hidden;
}
#head {
  width: 108%;
  height: auto;
  margin-top: 82px;
  margin-left: -6.6714%;
}
.whitepaper {
  position: absolute;
  padding: 12px 14px;
  font-size: 21px;
  font-family: gotham;
  font-weight: normal;
  background-color: white;
  color: #a663cc;
  z-index: 2000;
  right: 23%;
  top: 40vw;
  box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
  z-index: 0;
  text-decoration: none;
}
.whitepaper:hover {
  color: white;
  background-color: #a663cc;
  text-decoration: none;
}
.whitepaper:active {
  color: white;
  text-decoration: none;
}
.whitepaper:hover {
  color: white;
  text-decoration: none;
}
.baby {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
  margin-left: 25px;
  padding: 30px 0;
}
.baby h2 {
  display: flex;
  width: 750px;
}
.why p {
  margin: 0;
}
.features-flex {
  display: flex;
  gap: 32px;
}
.features-box {
  margin-bottom: 20px;
  padding-top: 10px;
  border: solid 15px #0bc9cd;
  border-radius: 52px;
  padding: 50px 40px;
  width: 450px;
  text-align: center;
}
.features-box h2,
.features-lottery h2 {
  text-align: left;
  margin-top: 25px;
}
.features-box h3,
.features-lottery h3 {
  margin-top: -25px;
  text-align: left;
}
.features-lottery {
  background-color: #0bc9cd;
  border-radius: 52px;
  padding: 50px 470px 20px 40px;
  width: 568px;
}
#wheel {
  position: relative;
  margin-left: 590px;
  margin-top: -330px;
}
.tokenomic-supply {
  width: 500%;
  margin-left: -199.4%;
  background-color: #0bc9cd;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 45px;
}
.tokenomic-supply h2 {
  font-size: 52px;
  margin-top: -27px;
}
#chart {
  width: 973px;
  margin-bottom: 45px;
}
#graph {
  width: 1088px;
  margin-bottom: 112px;
}
.contact {
  text-align: center;
  padding: 35px 0 90px 105px;
  background-color: #a663cc;
  display: flex;
  justify-content: center;
  gap: 70px;
}
.contact h1 {
  margin-bottom: 10px;
}
.contact-flex2 {
  width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contact-flex {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: -12 px;
}
.contact-whitepaper {
  padding: 12px 14px;
  font-size: 21px;
  font-family: gotham;
  font-weight: normal;
  background-color: white;
  color: #a663cc;
  z-index: 2000;
  box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
  z-index: 0;
  text-decoration: none;
  height: 26px;
  margin-top: 12px;
}
.contact-whitepaper:hover {
  color: white;
  background-color: #a663cc;
  text-decoration: none;
}
.contact-whitepaper:active {
  color: white;
  text-decoration: none;
}
.contact-whitepaper:hover {
  color: white;
  text-decoration: none;
}
.soon {
  background-color: #e63946;
  border-radius: 12px;
  padding: 2.3px 12px;
  font-size: 30px;
}
.not-soon {
  font-size: 32px;
}
.roadmap {
  padding-top: 140px;
  padding-bottom: 100px;
  margin-top: -95px;
}
.roadmap-flex {
  display: flex;
  gap: 300px;
  margin-top: 50px;
}
.roadmap-flex h2 {
  white-space: nowrap;
}
.roadmap-box {
  width: 125px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.roadmap-box h3,
.roadmap-box h4 {
  text-align: left;
  margin-left: 26px;
}
.roadmap-flex h3 {
  font-size: 66px;
}
.roadmap-flex span {
  font-size: 22px;
}
.roadmap-flex h4 {
  margin-top: -10px;
  margin-bottom: 25px;
}
.roadmap-flex ul {
  padding: 0;
  height: 250px;
}
.roadmap-flex li {
  list-style: none;
  margin-top: 15px;
}
.line1::after,
.line2::after {
  position: absolute;
  width: 330px;
  height: 15px;
  margin-top: -40px;
  margin-left: 80px;
  border-radius: 60px;
  display: block;
  content: '';
  background-color: #0bc9cd;
}
.telenum {
  margin-left: 67px;
  margin-bottom: -10px;
}

.move {
  transform: translateX(0);
}
.contact a
{
  text-decoration: none;
}
.contact a:hover
{
  color: #190752;
}
@media screen and (min-width: 2100px) {
  .one {
    width: 100%;
    background-color: #a663cc;
    margin: auto;
    text-align: center;
  }
  #head {
    width: 2100px;
    height: auto;
    margin-top: 100px;
    margin-left: 0px;
  }
  .whitepaper {
    right: 28%;
    top: 776px;
  }
}
@media screen and (max-width: 1380px) {
  .baby {
    flex-direction: column;
    gap: 10px;
    margin-left: 0;
  }
  #head {
    position: absolute;
    width: 1500px;
    left: -10100px;
    right: -9999px;
    margin: auto;
    margin-top: 56px;
    z-index: 0;
  }
  .whitepaper {
    right: 200px;
    top: 550px;
  }
  .contact-whitepaper
  {
    visibility: hidden;
    width: 0;
  }
}
@media screen and (max-width: 1300px) {
  .baby {
    flex-direction: column;
    gap: 10px;
    margin-left: 0;
  }
}
@media screen and (max-width: 1200px) {
  .baby {
    flex-direction: column;
    gap: 10px;
    margin-left: 0;
  }
  .features-flex {
    flex-direction: column;
    align-items: center;
  }
  .features-lottery {
    margin-bottom: 20px;
    border-radius: 52px;
    padding: 120px 40px 20px 40px;
    width: 450px;
    text-align: center;
    margin: auto;
    margin-top: 32px;
    border: solid 15px #0bc9cd;
  }
  #wheel {
    position: absolute;
    width: 197px;
    margin: auto;
    margin-top: -425px;
    margin-left: -90px;
  }
  .content-box {
    width: 90%;
  }
  .baby {
    flex-direction: column;
    width: 100%;
  }
  .baby h1 {
    text-align: center;
  }
  .baby h2 {
    width: 90%;
  }
  #chart {
    width: 700px;
    margin-bottom: 45px;
  }
  #graph {
    width: 782.733px;
    margin-bottom: 112px;
  }
  .roadmap-flex
  {
    width: 90%;
    gap: 215px;
    margin: auto;
  }
  .line1::after, .line2::after
  {
    width: 250px;
  }
}
@media screen and (max-width: 1079px) {
  nav {
    display: none;
  }
  .whitepaper {
    right: 20px;
    top: 550px;
  }
  .mobile-nav {
    visibility: visible;
  }
  .mobile-nav {
    display: flex;
    background: linear-gradient(
      180deg,
      rgba(166, 99, 204, 1) 0%,
      rgba(166, 99, 204, 0.62) 81%,
      rgba(166, 99, 204, 0) 100%
    );
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding: 25px 20px 15px 20px;
    margin-bottom: -110px;
    position: fixed;
    overflow-x: hidden;
    z-index: 1000;
  }
  .mobile-nav h1 {
    font-family: albra;
    font-size: 21px;
    font-weight: bold;
    color: #f1faee;
    margin-top: -35px;
    margin-left: 50px;
  }
  .mobile-nav img {
    width: 24px;
    height: 16px;
    margin-top: 0px;
    margin-right: 40px;
  }
  .mobile-nav-click {
    position: fixed;
    display: flex;
    width: 76%;
    margin-left: 24%;
    background-color: #a663cc;
    flex-direction: column;
    z-index: 1000;
    padding: 100px 0 20px 0;
    height: 100%;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  #mobile-logo {
    width: 34px;
    height: 38px;
    margin: 0;
    margin-top: -14px;
    margin-left: -145px;
  }
  .cross {
    width: 24px;
    position: absolute;
    right: 5%;
    top: 80px;
  }
  .mobile-nav-click h1 {
    font-family: albra;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px #f1faee solid;
    width: 81%;
    color: #f1faee;
    margin-left: 5%;
    padding: 15px 15px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .contact-flex2 {
    width: 100%;
    justify-content: space-around;
  }
  .contact-whitepaper {
    visibility: hidden;
    width: 0;
    margin-top: 0px;
  }
  .mobile-whitepaper {
    position: absolute;
    padding: 10px 14px;
    font-size: 12px;
    font-family: gotham;
    font-weight: normal;
    background-color: #f1faee;
    color: #a663cc;
    z-index: 2000;
    box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
    z-index: 0;
    text-decoration: none;
    height: 14px;
    top: 85vh;
    right: 40px;
  }
  .roadmap-flex {
    flex-direction: column;
    gap: 30px;
    margin-left: 110px;
  }
  .roadmap-flex ul {
    height: auto;
  }
  .roadmap-box h3 {
    text-align: left;
    margin-left: -90px;
    margin-top: -69px;
}

  .roadmap-box h4 {
    text-align: left;
    margin-left: -87px;
    margin-top: -11px;  
    margin-bottom: -8px;
  }
  .roadmap-flex li {
    list-style: none;
    margin-top: 3px;
  }
  .roadmap-box {
    gap: 4px;
  }
  .telenum {
    margin-bottom: -12px;
    margin-left: 0;
  }
  .roadmap-box ul {
    margin-bottom: 4px;
    margin-top: -10px;
  }
  .line1::after {
    position: absolute;
    width: 11px;
    margin-top: 20px;
    margin-left: 25.7px;
    border-radius: 60px;
    display: block;
    content: '';
    background-color: #0bc9cd;
    height: 334px;
}
  .line2::after {
    position: absolute;
    width: 11px;
    margin-top: 20px;
    margin-left: 25.7px;
    border-radius: 60px;
    display: block;
    content: '';
    background-color: #0bc9cd;
    height: 302px;
  }
}
@media screen and (max-width: 850px) {
  #graph {
    display: none;
  }
  #vertical_graph {
    display: block;
    width: 300px;
    margin: auto auto auto 5%;
}
  #chart {
    width: 500px;
  }
  .contact {
    flex-direction: column;
    text-align: left;
    gap: 10px;
    padding-left: 10%;
  }
}
@media screen and (max-width: 600px) {
  .contact {
    flex-direction: column;
    text-align: left;
    gap: 0px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .contact h1 {
    font-size: 24px !important;
    font-weight: normal;
  }
  .contact h2,.contact a {
    font-size: 18px !important;
    font-weight: normal;
  }
  .why h1
  {
    line-height: 36px;
    margin-bottom: 15px;
  }
  .contact-flex {
    gap: 7px;
  }
  .contact-flex img {
    width: 21px;
  }
  #vertical_graph {
    display: block;
    width: 276px;
  }
  #chart {
    width: 327px;
  }
  .one {
    height: 640px;
  }
  #vertical_word {
    position: relative;
    display: block;
    top: -650px;
    left: -140px;
    width: 370px;
    z-index: 1;
  }
  #big_logo {
    position: relative;
    display: block;
    width: 300px;
    z-index: 10;
    margin-top: 140px;
  }
  #head {
    display: none;
  }
  .title-text {
    font-size: 36px !important;
  }
  .header-text {
    font-size: 36px !important;
    margin-bottom: 12px;
  }
  .features-box h3, .features-lottery h3 {
    margin-top: -12px;
    text-align: left;
}
  .highlight-text {
    font-size: 18px !important;
    line-height: 18px;
  }
  .normal-text {
    font-size: 18px !important;
    line-height: 18px;
  }
  .roadmap
  {
    margin-top: 0px;
  }
  .roadmap-flex {
    flex-direction: column;
    gap: 30px;
    margin-left: 90px;
  }
  .roadmap-flex ul {
    height: auto;
  }
  .roadmap-box h3 {
    text-align: left;
    margin-left: -74px;
    margin-top: -49px;
  }
  .roadmap-box h4 {
    text-align: left;
    margin-left: -73px;
    margin-top: -7px;
    margin-bottom: -8px;
  }
  .roadmap-flex h3 {
    font-size: 36px;
  }
  .roadmap-flex span {
    font-size: 13px;
  }
  .roadmap-flex li {
    list-style: none;
    margin-top: 3px;
  }
  .roadmap-box {
    gap: 4px;
  }
  .telenum {
    margin-bottom: -2px;
    margin-left: 0;
  }
  .roadmap-box ul {
    margin-bottom: 4px;
    margin-top: 10px;
  }
  .line1::after {
    position: absolute;
    width: 8px;
    margin-top: 16px;
    margin-left: 15px;
    border-radius: 60px;
    display: block;
    content: '';
    background-color: #0bc9cd;
    height: 204px;
  }
  .line2::after {
    position: absolute;
    width: 8px;
    margin-top: 16px;
    margin-left: 15px;
    border-radius: 60px;
    display: block;
    content: '';
    background-color: #0bc9cd;
    height: 183px;
  }
  .features-box {
    width: auto;
    padding: 20px;
    border: 10px solid #0bc9cd;
    border-radius: 36px;
  }
  .features-box img {
    width: 120px;
  }
  .features-lottery {
    width: auto;
    padding: 20px;
    padding-top: 80px;
    border: 10px solid #0bc9cd;
    border-radius: 36px;
  }
  #wheel {
    width: 187px;
    margin-top: -305px;
    margin-left: -98px;
  }
  .why p {
    margin-top: 5px;
  }
  .tokenomic-supply h2 {
    font-size: 36px;
    margin-top: -26px;
  }
  .initial {
    font-size: 24px !important;
  }
  .content-box {
    padding-top: 60px;
  }
  .baby {
    text-align: left;
  }
  .whitepaper {
    visibility: hidden;
  }
  .mobile-center {
    width: 300px;
    text-align: center;
    z-index: 1000;
    margin: auto;
  }
  .mobile-box {
    display: block;
    position: relative;
    color: white;
    font-size: 16px;
    font-family: gotham;
    background-color: #0bc9cd;
    margin-top: 24px;
    z-index: 100;
    width: 125px;
    padding: 10px 0px;
    margin-left: 87.5px;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .roadmap {
    padding-bottom: 40px;
  }
}
@media screen and (max-width:450px) {
  #wheel
  {
    width: 187px;
    margin-top: -346px;
    margin-left: -98px;
  }
}
@media screen and (max-width:370px) {
  #wheel
  {
    width: 150px;
    margin-left: -75px;
    margin-top: -340px;
  }
}